//					Header.

$hat_link_color: #e2ec9d;
$main_hat_bg_color: #6d4a30;

div.c-cont div.jumbotron-cnina,
div.c-cont div.jumbotron-cnina-footer
{
  padding: 1.3rem 1rem;
  margin-bottom: 0;
  color: bisque;
  border-radius: 0.5rem;
  background-color: $main_hat_bg_color;
}

div.c-cont div.jumbotron-cnina div.lang div.dropdown-menu{
	min-width: 0;
}

div.c-cont div.jumbotron-cnina nav.nav-bar-cnina li a{
  padding: 0 5px 0 5px;
}

div.c-cont div.jumbotron-cnina a{
  color: $hat_link_color;
}

div.c-cont div.jumbotron-cnina a:hover{
  color: darken($hat_link_color, 40%);
}

div.c-cont div.jumbotron-cnina div.dropdown-menu{
  background-color: invert($main_hat_bg_color, 40%);
}
div.c-cont div.jumbotron-cnina div.dropdown-menu a.dropdown-item{
  color: $hat_link_color;
  padding-left: 10px;
}
div.c-cont div.jumbotron-cnina a.dropdown-item:hover{
  background-color: invert($main_hat_bg_color, 20%);
}


div.c-cont div.jumbotron-cnina nav.nav-bar-cnina{
  background-color: lighten($main_hat_bg_color, 10%);
  border-radius: 0.3rem;
}

//	Footer

div.c-cont div.jumbotron-cnina-footer{
  margin-top: 100px;
}
